body {
    display: flex;
    justify-content: space-around;
    background-color: black;
}

.frame {
    background-color: #0285ffb9;
    width: 30%;
    justify-content: center;
    padding: 30px;
    border-radius: 0px 0px 15px 15px;
    border-top: solid black;
}

.addtask {
    width: 70%;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 15px;
    border: solid;
    margin-top: 30px;
}

.sbutton {
    height: 40px;
    width: 20%;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(2, 68, 85);
    cursor: pointer;
    margin-left: 10px;

}

.sbutton:hover {
    height: 40px;
    width: 20%;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(22, 159, 194);
    cursor: pointer;
    transition-duration: 500ms;
    margin-left: 10px;
}

.addsection {
    border-top: solid black;
}

.inprogress {
    background-color: #ffff02b9;
    width: 30%;
    justify-content: center;
    padding: 30px;
    border-radius: 0px 0px 15px 15px;
    border-top: solid
}
.isdone{
    background-color: #00ff22b9;
    width: 30%;
    justify-content: center;
    padding: 30px;
    border-radius: 0px 0px 15px 15px;
    border-top: solid 
}